.wp-block-occ-rather-simple-panzoom {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
    padding: 0;

	.panzoom-parent {
    	position: relative;
    	margin: 10px;
    	padding: 25px;
    	background-color: #fff;
	}

	#panzoom-element {
    	height: 100%;
	}

	#panzoom-element img {
    	display: block;
    	margin: 0 auto;
	}

	.panzoom-buttons {
    	text-align: center;
	}

	.panzoom-buttons button {
    	position: relative;
    	width: 40px;
    	height: 40px;
    	background-color: #000;
    	border: 0;
    	border-radius: 100%;
    	color: #fff;
    	cursor: pointer;
    	z-index: 999;
	}

	.panzoom-buttons button::before {
    	-moz-osx-font-smoothing: grayscale;
    	-webkit-font-smoothing: antialiased;
    	display: inline-block;
    	font-family: "gridicons";
    	font-size: 12px;
    	font-style: normal;
    	font-weight: 400;
    	font-variant: normal;
    	line-height: 1.1;
    	speak: none;
    	text-align: center;
    	text-decoration: inherit;
    	text-transform: none;
    	vertical-align: baseline;
	}

	#zoomin-button::before {
    	content: "\f1c4";
    	font-size: 24px;
		line-height: 30px;
		position: relative;
		width: 100%;
	}

	#zoomout-button::before {
		content: "\f1c5";
		font-size: 24px;
		line-height: 30px;
		position: relative;
		width: 100%;
	}

}
